.op-post {
    margin-top: 5%;
}

.tag-list {
    display: inline-flex;
    color: #7797BF;
}

.tag {
    list-style: none;
    color: whitesmoke;
    margin-left: 0.6rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 12px;
    background-color: crimson;
    font-size: 0.9rem;
}

pre {
    padding: 1rem;
    background-color: #2F536C;
    border-radius: 3px;
}

.post-type-tag {
    display: inline;
    margin-left: 0.5rem 0.5rem;
    border-radius: 12px;
    padding: 0rem 0.3rem;
    font-size: 1rem;
}

.Introduction {
    background-color: darkgoldenrod;
}

.Discussion {
    background-color: darkcyan;
}

.Question {
    background-color: forestgreen;
}

.post-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
    color: white;
    background-color: #0D304A;
}

.post-text {
    margin-bottom: 1rem;
}

.op-info {
    padding-top: 1rem;
    text-align: center;
    background-color:#0D304A;
}

.profile-picture {
    border: goldenrod 2px solid;
    margin-bottom: 1rem;
}

#username {
    font-size: 1.3rem;
    padding-top: 1rem;
    color: goldenrod;
}

.username-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: goldenrod;
}

.username-link:hover {
    text-decoration: none;
    color:#FCC742;
}

#coder-kai-points {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.coderkaipoint-operation {
    margin-top: 1rem;
    color: goldenrod;
    padding: 1rem;
}

.kudos-button {
    border: none;
    background-color: #0D304A;
}

.coderkaipoint-operation-response {
    padding-top: 1.5rem !important;
    color: goldenrod;
    padding: 1rem;
}

.timestamp {
    border-top: 1px solid darkgoldenrod;
    margin-top: auto;
    padding-top: 0.2rem;
    font-size: 0.8rem;
    color: #7797BF !important;
}

hr {
    color: goldenrod;
}

#post-title {
    display: inline;
    color: goldenrod;
}

.profile-info > p {
    color: goldenrod;
    font-size: 0.8rem;
}

.profile-info > #username {
    font-size: 1.3rem;
}

#rank {
    color: crimson;
}

.tag-list {
    display: block;
    margin-bottom: 1rem;
}

.tag {
    font-size: 1rem;
    margin-left: 0;
    display: inline;
}

.response-count {
    margin-left: 8%;
    display:inline-flex;
    font-size: 2.1rem;
    color: darkgoldenrod;
}

.reply-count {
    margin-left: 10%;
    margin-top: 0;
    font-size: 1.2rem;
}

.reply-count > svg,p {
    margin-bottom: 0;
}

#mf-svg {
    margin-top: 0.2rem;
}

.response-count > p {
    margin-left: 1rem;
}

.response-count > svg {
    margin-top: 0.8rem;
}

.post-options {
    margin-left: auto;
    margin-right: 2rem;
}

.post-options > button {
    display: inline-flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

#kudos {
    display: none;
}

.response {
    padding-left: 0rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-left: 7.65%;
    width: 91%;
    border-top: darkgoldenrod solid 2px;
}

.op-info-response {
    padding-left: 0.1rem;
    font-size: 1rem;
    text-align: center;
    background-color: #0D304A;
}

.post-body-response {
    background-color: #0D304A;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.profile-info-response {
    color: goldenrod;
}

.profile-info-response > #username {
    padding-top: 0.1rem;
    font-size: 1rem;
}

.profile-info-response * {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0.3rem;
}

.reply {
    margin-top: 0.3rem;  
    display: inline-flex;
    margin-left: 15%;
    width: 86%;
}

.reply > .op-info {
    background-color:#2F536C;
    padding: 0;
    padding-top: 0.3rem;
}

.reply .post-body {
    background-color:#2F536C;
    padding-right: 1rem;
    padding-top: 1.3rem;
    width: 91%;
}

#username-reply {
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.reply .post-author {
    display: none;
    color:#7797BF;
}

.reply .post-author .username {
    color: goldenrod;
    text-decoration: none;
}

.reply .post-author .username:hover {
    color: #FCC742;
}

.reply-op-info {
    padding-bottom: 0.1rem;
    margin-bottom: 0.1rem;
}

.post-author-op {
    display: none;
    font-size: 0.8rem;
    color:#7797BF;
}

.post-author-op .username {
    color: goldenrod;
    text-decoration: none;
}

.post-author-op .username:hover {
    color: #FCC742;
}

.response-author {
    display: none;
    font-size: 0.8rem;
    color:#7797BF;
    margin-bottom: 0.5rem;
}

.response-author .username {
    color: goldenrod;
    text-decoration: none;
}

.response-author .username:hover {
    color: #FCC742;
}

.bi-caret-up-fill {
    fill: goldenrod;
}

.bi-caret-up-fill:hover {
    fill: #FCC742;
}

.bi-caret-up-fill:active {
    fill: #DAA520;
    transform: scale(0.95);
}

.kudos-error-mobile {
    display: none;
}

#mobile-error-message-div {
    display: none;
}

.pls-go-away {
    display: none;
}

@media (max-width: 575px) {

    .op-info-response {
        display: none;
    }

    .response-count {
        margin-left: 5%;
        width: 90%;
    }

    .post-options {
        margin-right: 0;
        order: 2;
        display: inline-flex;
    }

    .tag-list {
        margin-bottom: 1rem;
    }

    .post-author-op {
        margin-bottom: 1rem;
        display: block;
    }

    .response-count {
        font-size: 2rem;
        width: 100%;
    }

    .response {
        width: 100%;
        margin: 0;
        border-top: goldenrod solid 2px;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        margin-bottom: 1rem;
    }

    .post-body-response {
        width: 100%;
        margin-bottom: 0;
    }

    .response-text {
        align-self: flex-start;
        margin-left: 1rem;
        margin-bottom: 0rem;
    }

    .response-author {
        align-self: flex-end;
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-bottom: 0;
    }

    .op-info {
        display: none;
    }

    .reply {
        width: 100%;
        margin-left: 6.5%;
        margin-bottom: 0rem;
        padding-bottom: 0;
    }

    .reply .post-author {
        display: block;
        font-size: 0.8rem;
    }

    .reply .post-body {
        background-color:#2F648E;
    }

    .response-author {
        display: block;
    }

    #reply-button {
        font-size: 1rem;
    }

    .timestamp {
        display: none;
    }

    #kudos {
        font-size: 1.1rem;
        display: inline-flex;
    }

    #kudos-response-button,#kudos-post-button-mobile * {
        padding: 0;
        font-size: 0.7rem;
        display: inline-flex;
    }

    #kudos-response-button * {
        font-size: 1.5rem;
        display: inline-flex;
    }

    #reply-button {
        font-size: 1.1rem;
    }

    .post-body {
        width: 100%;
    }

    .op.post > .row {
        justify-content: center;
    }

    .op-post {
        background-color: red;
        justify-content: center;
    }

    .kudos-error-mobile {
        display: inline-flex;
        align-self: flex-end;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    #mobile-error-message-div {
        display: inline-flex;
        align-self: flex-end;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .btn:hover {
        border: goldenrod solid 1px;
        color: goldenrod;
        background-color: #0D304A;
    }

    #kudos-response-button * {
        font-size: 1.5rem;
        display: inline-flex;
    }

    .mf-post-mobile-button {
        font-size: 0.1rem;
    }

    .pls-go-away {
        display: inline-flex;
        padding: 0;
    }
}