a {
    text-decoration: none;
    color: #7797BF;
}

#sort-posts {
    border: dashed white 1px;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}

#sort-posts > h4 {
    padding: 2rem;
}

#post-list {
    width: 80%;
    margin-left: 10%;
}

#post-list > ul {
    padding:0;
}

.post-item {
    background-color: #0E426C;
    border-radius: 3px;
    color: white;
    list-style: none;
    margin-bottom: 0.6rem;
    padding: 0.2rem;
    padding-bottom: 0;
}

.post-item:hover {
    background-color: #23536B;
}

.post-title {
    color: goldenrod;
    font-size: 1.4rem;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
}

.post-preview {
    color: white;
    text-decoration: none;
    margin-left: 0.3rem;
    padding-bottom: 0rem;
}

.post-info {
    display: flex;
    justify-content: space-between;
    color: #7797BF;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    text-decoration: none;
}

.post-replies {
    display: inline-flex;
    margin-right: 7.5rem;
    color: #7797BF;
}

.tag-list {
    display: inline-flex;
    color: #7797BF;
}

.tag {
    color: white;
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.3rem;
    border-radius: 12px;
    background-color: #0D315B;
}

.post-author {
    text-decoration: none;
    display: inline-flex;
    color: #7797BF !important;
}

.username {
    color: goldenrod;
}

.username:hover {
    color: #FCC742;
}

@media (max-width: 575px) {

    #sort-posts {
        width: 95%;
        margin-left: 2.5%;
    }

    #post-list {
        width: 100%;
        margin-left: 0;
    }

    #post-list > ul {
        width: 95%;
        padding: 0;
        margin-left: 2.5%;
    }

    .post-title {
        font-size: 1.2rem;
    }

    .post-preview {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }

    .post-info {
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
        color: #44748D;
        margin-left: 0.3rem;    
        max-height: 1.2rem;
    }

    .post-replies {
        margin-right: 0.3rem;
    }

    .tag-list {
        display: none;
    }
}