.op-post {
    margin-top: 5%;
}

pre {
    padding: 1rem;
    background-color: #2F536C;
    border-radius: 3px;
}

.post-body {
    background-color: #0D304A;
    padding: 1rem;
    color: white;
    border-radius: 3px;
}

.op-info {
    padding-left: 2%;
    text-align: center;
}

#username {
    padding-top: 1rem;
    color: goldenrod;
}

hr {
    color: goldenrod;
}

#post-title {
    color: goldenrod;
}

.profile-picture {
    border: #0D304A solid 5px;
}

.profile-info > p {
    color: goldenrod;
}

#rank {
    color: crimson;
}

.post-options {
    width: 60%;
    margin-left: 20%;
    display:flex;
    justify-content: space-around;
}

.btn {
    margin-top: 2%;
}


@media (max-width: 575px) {

    .op-info {
        order: 1;
    }

    .post-options {
        order: 2;
    }

    .post-body {
        width: 95%;
        margin: 2.5%;
    }

    .post-options {
        width: 100%;
        margin-left: 0;
        display:flex;
        justify-content: space-around;
    }

}