.op-post {
    margin-top: 5%;
}

.tag-list {
    display: inline-flex;
    color: #7797BF;
}

.tag {
    list-style: none;
    color: whitesmoke;
    margin-left: 0.6rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 12px;
    background-color: crimson;
    font-size: 0.9rem;
}

pre {
    padding: 1rem;
    background-color: #2F536C;
    border-radius: 3px;
}

.post-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    color: white;
    background-color: #0D304A;
}

.op-info {
    padding-top: 1rem;
    text-align: center;
    background-color:#0D304A;
}

.profile-picture {
    border: goldenrod 2px solid;
}

#username {
    padding-top: 1rem;
    color: goldenrod;
}

.coderkaipoint-operation {
    margin-top: 1rem;
    color: goldenrod;
    padding: 1rem;
}

hr {
    color: goldenrod;
}

#post-title {
    color: goldenrod;
}

.profile-info > p {
    color: goldenrod;
    font-size: 0.9rem;
}

.profile-info > #username {
    font-size: 1.2rem;
}

#rank {
    color: crimson;
}

.tag-list {
    margin-bottom: 1rem;
}

.response-count {
    margin-left: 8%;
    display:inline-flex;
    font-size: 2.1rem;
    color: goldenrod;
}

.reply-count {
    margin-left: 10%;
    margin-top: 0;
    font-size: 1.2rem;
}

.reply-count > svg,p {
    margin-bottom: 0;
}

#mf-svg {
    margin-top: 0.2rem;
}

.response-count > p {
    margin-left: 1rem;
}

.response-count > svg {
    margin-top: 0.8rem;
}

.post-options {
    align-self:flex-end;
    margin-right: 2rem;
}

.post-options > button {
    display: inline-flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.response {
    padding-left: 0rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-left: 7.75%;
    width: 91%;
    border-top: goldenrod solid 2px;
}

.op-info-response {
    padding-left: 0.1rem;
    font-size: 1rem;
    text-align: center;
    background-color: #0D304A;
}

.post-body-response {
    background-color: #0D304A;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.profile-pic-response {
    padding:0;
    padding-top: 0.5rem;
}

.profile-info-response {
    color: goldenrod;
}

.profile-info-response > #username {
    padding-top: 0.1rem;
    font-size: 1rem;
}

.profile-info-response * {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0.3rem;
}

.reply {
    margin-top: 0.3rem;  
    display: inline-flex;
    margin-left: 15%;
    width: 86%;
}

.reply > .op-info {
    background-color:#2F536C;
    padding: 0;
    padding-top: 0.3rem;
}

.reply .post-body {
    background-color:#2F536C;
    padding-right: 1rem;
    padding-top: 1.3rem;
    width: 91%;
}

#username-reply {
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.reply .post-author {
    display: none;
    color:#7797BF;
}

.reply .post-author .username {
    color: goldenrod;
    text-decoration: none;
}

.reply .post-author .username:hover {
    color: #FCC742;
}

.reply-op-info {
    padding-bottom: 0.1rem;
    margin-bottom: 0.1rem;
}

.post-author-op {
    display: none;
    font-size: 0.8rem;
    color:#7797BF;
}

.post-author-op .username {
    color: goldenrod;
    text-decoration: none;
}

.post-author-op .username:hover {
    color: #FCC742;
}

.response-author {
    display: none;
    font-size: 0.8rem;
    color:#7797BF;
    margin-bottom: 0.5rem;
}

.response-author .username {
    color: goldenrod;
    text-decoration: none;
}

.response-author .username:hover {
    color: #FCC742;
}


@media (max-width: 575px) {

    .op-info-response {
        display: none;
    }

    .post-options {
        order: 2;
    }

    .post-body {
        width: 95%;
        margin: 2.5%;
    }

    .tag-list {
        margin-bottom: 1rem;
    }

    .post-author-op {
        margin-bottom: 1rem;
        display: block;
    }

    .response-count {
        font-size: 2rem;
        margin-left: 1rem;
        width: 90%;
    }

    .response {
        border-top: goldenrod solid 2px;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        width: 95%;
        margin-left: 2.5%;
        margin-bottom: 1rem;
    }

    .post-body-response {
        margin-top: 0;
        margin-bottom: 0;
        width: 95%;
        margin-left: 4%;
    }

    .op-info {
        display: none;
    }

    .reply {
        margin-top: -0.3rem;
        margin-bottom: -0.6rem;
        margin-left: 10%;
        padding-bottom: 0;
        width: 98.5%;
    }

    .reply .post-author {
        display: block;
    }

    .reply .post-body {
        background-color:#2F648E;
    }

    .response-author {
        display: block;
    }

    #reply-button {
        font-size: 1rem;
    };

}