a {
    text-decoration: none;
}

hr {
    margin: 0.5rem 0rem;
}

#sort-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    width: 80%;
    margin: 1% 0 1% 10%;
    border-bottom: goldenrod 1px solid;
}

.bi {
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
}

.button-options button {
    margin-top: 2rem;
    background-color: #0E426C;
}

.dropdown-menu {
    background-color: #0D304A;
    color: goldenrod;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #0D304A;
    color: goldenrod;
}

#new-post-button {
    font-size: 1rem;
}

#post-list {
    width: 80%;
    margin-left: 10%;
}

#post-list > ul {
    padding:0;
}

.post-item {
    color: white;
    list-style: none;
    background-color: #0D304A;
    padding: 0.4rem 0.2rem;
}

.post-title {
    display: inline;
    color: goldenrod;
    font-size: 1.4rem;
    margin-left: 0.3rem;
}

/*
Introduction - darkgoldenrod
Discussion - darkcyan
Question - firebrick
*/

.post-type-tag {
    display: inline;
    margin-left: 0.5rem;
    border-radius: 12px;
    padding: 0rem 0.3rem;
    font-size: 1rem;
}

.Introduction {
    background-color: darkgoldenrod;
}

.Discussion {
    background-color: darkcyan;
}

.Question {
    background-color: firebrick;
}

.post-title:hover {
    color: #FCC742;
}

.post-preview {
    color: whitesmoke;
    margin-left: 0.3rem;
}

.post-info {
    display: flex;
    flex-direction: row;
    color: #7797BF;
    margin-left: 0.3rem;
    justify-content: flex-start;
    padding-right: 0;
}

.post-replies {
    color: #7797BF;
    margin-right: 14rem;
}

.tag-list {
    margin-left: 14rem;
    display: inline-flex;
    color: #7797BF;
}

.tag {
    color: whitesmoke;
    margin-left: 0.6rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-bottom: 0.2rem;
    border-radius: 12px;
    background-color: crimson;
    font-size: 0.9rem;
}

.username {
    color: goldenrod;
}

.username:hover {
    color: #FCC742;
}

@media (max-width: 575px) {

    #sort-posts {
        width: 95%;
        margin-left: 2.5%;
    }

    #post-list {
        width: 100%;
        margin-left: 0;
    }

    #post-list > ul {
        width: 95%;
        padding: 0;
        margin-left: 2.5%;
    }

    .post-title {
        font-size: 1.2rem;
    }

    .post-preview {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }

    .post-info {
        justify-content: space-between;
        font-size: 0.7rem;
    }

    .post-info > .tag-list {
        display: none;
    }

    .post-replies {
        margin-right: 0;
    }

    .tag-list {
        display: none;
    }

    .post-type-tag {
        display: inline;
        margin-left: 0.5rem;
        border-radius: 12px;
        padding: 0rem 0.3rem;
        font-size: 0.9rem;
    }
}