.container {
    padding-top: 4%;
}

.profile-card {
    border-radius: 20px;
    padding: 1rem 0rem;
    margin-left: 2.5rem;
    margin-top: 1.6rem;
    background-color: #0E426C;
}

.profile-picture {
    border: goldenrod solid 5px;
}

#username {
    color: goldenrod;
    padding-top: 3%;
}

.row {
    display: flex;
}

.profile-options {
    padding-top: 1rem;
    width: 90%;
    margin-left: 5%;
}

#profile-header {
    color: goldenrod;
    background-color: #0E426C;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.profile-item {
    padding-left: 2rem;
    text-align: left;
}

.profile-info-label {
    color: goldenrod;
    font-size: 1.4rem;
    text-align: left;
}

.profile-info-answer {
    display: block;
    font-size: 1.4rem;
    text-align: left;
}

.profile-info-answer > p {
    word-wrap: break-word;
}

.profile-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#stats-header {
    color: goldenrod;
    background-color: #0E426C;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.stat-info-item {
    color: goldenrod;
    text-align: left;
}

.stat-row {
    font-size: 1.4rem;
    padding-top: .5rem;
    padding-bottom: 0.5rem;
}

#highest-scoring-posts-header {
    color: goldenrod;
    background-color: #0E426C;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.interest-tag, .motivation-tag {
    background-color: crimson;
    border-radius: 8px;
    padding: 0.3rem;
}

.button-options button {
    margin-top: 2rem;
    background-color: #0E426C;
}

.button-options {
    margin-top: 1.5rem;
    background-color: #0E426C;
}

.dropdown-menu {
    background-color: #0D304A;
    color: goldenrod;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #0D304A;
    color: goldenrod;
}

h4 {
    font-size: 1.3rem;
}

@media (max-width: 575px) {

    .container {
        padding-top: 15%;
    }

    .profile-info-box {
        margin-top: 10%;
    }

    .profile-item {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }

    .profile-card {
        width: 90%;
        margin-left: 5%;
    }

    .profile-info-label {
        color: goldenrod;
        font-size: 1rem;
    }

    .profile-info-label {
        text-align: left;
    }

    .profile-options {
        width: 100%;
    }

    .profile-info-answer {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        text-align: center;
        font-size: 1rem;
    }

    .profile-stats * {
        display: flex;
        flex-direction: column;
    }

    .stat-row {
        display: inline-flex;
        flex-direction: row;
        font-size: 1rem;
    }

    .stat-info-item {
        color: goldenrod;
        text-align: left;
    }
}