/* * {
    border: 1px dashed black;
} */

#sort-posts {
    border: 1px dashed gray;
}

html {
    background-color: #111927;
}

body {
    background-color: #111927;
    margin-left: 12rem;
    margin-right: 12rem;
    height: 100rem;
}

#banner {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-bottom: 0px;
    margin-top: -1rem;
    height: fit-content;
}

#logo {
    font-size: 3.5rem;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    margin-top: 0.8rem;
    margin-left: 3rem;
}

#navigation>li {
    display: inline-block;
    font-size: 1.3rem;
    font-family: neue-haas-unica, sans-serif;
    margin-top: 6.9rem;
    margin-left: 3.4rem;
}

#user-options {
    margin-left: 33rem;
}

#user-options>li {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: goldenrod;
    font-size: 1.2rem;
    margin-top: 4rem;
    margin-left: 2.3rem;
}

#sort-posts {
    margin-right: 10rem;
    margin-left: 10rem;
}

.post-item {
    list-style: none;
    text-align: left;
    margin-right: 10rem;
    margin-left: 7.5rem;
    margin-top: 1rem;
}

.post-title {
    font-family: neue-haas-unica, sans-serif;
    font-weight: normal;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.post-preview {
    font-family: neue-haas-unica, sans-serif;
    color: white;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.post-info {
    display: inline;
    text-align: right;
    color: #414967;
    font-size: 0.8rem;
}

.post-info>p {
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: inline-block;
}

.post-replies {
    display: inline-block;
    margin-left: 0rem;
    margin-right: 45rem;
}

a {
    color: aqua;
    text-decoration: none;
}

.username>a {
    color: goldenrod !important;
}

#logo>a {
    color: goldenrod;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post-item-link:hover {
    text-decoration: none;
}

.post-item-link>.post-title:hover {
    text-decoration: underline;
}

#page-content {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1rem;
}

hr {
    opacity: 10%;
}