html {
    background-color:lightslategrey;
    text-align: center;
    border: 2px dashed black; /* debugging only */
}

div {
    border: 2px dashed red;
}

#bannerdiv {
    width: 50%;
    margin-left: 25%;
}

#coderkai-logo {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}
