.welcome-message {
    border-radius: 5px;
    background-color: #0D304A;
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

.navbar {
    margin-bottom: 2rem !important;
}

.dashboard-message {
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
}

.navbar {
    margin-bottom: 8%;
}


.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: goldenrod solid 1px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 10%;
    width: 80%;
    padding: 1rem;
}


.card {
    border: none;
    background-color: #111927;
}

.card img {
    height: 10rem;
    width: 16rem;
}

h2 {
    margin-top: 10%;
    text-align: center;
    color: white;
}

.rec-for-you {
    margin: 0;
    color: whitesmoke;
    text-align: center;
    border-bottom: whitesmoke 1px solid;
    margin-top: 2.5rem;
}

.rec-posts-help {
    text-align: center;
    color: #7797BF;
    margin-top: 0.2rem;
    margin-bottom: 3rem;
}



#post-list {
    margin-left: 0;
    margin-right: 0 !important;
}



@media (max-width: 575px) {

    .card {
        text-align: center;
        border-bottom: gray solid 1px;
        border-radius: 0;
    }

    .card-last {
        border-bottom: none;
    }
}