{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page-title %} {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href={% static "main_app/base-stylesheet.css" %}>
  {% block css-stylesheet %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href={% url "welcome_page" %}>
        CODER:
        <br />
        I I I I KAI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Coder Kai Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url "posts" %}>Community Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "profile" %}">Your Profile</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search all posts" aria-label="Search">
          <button class="btn btn-outline-secondary btn-lg px-3 py-1" type="submit">Search</button>
        </form>
        </div>
      </div>
    </div>
  </nav>

  {% block mainbody %}
  
  {% endblock %}

  <div class="container footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <div class="col-md-4 d-flex align-items-center">
        <a href="#" class="brand mb-3 me-2 mb-md-0 text-decoration-none lh-1">
          CODER:<br />I I I I KAI
        </a>
        <span class="mb-3 mb-md-0 text-white">© 2023 Coder Kai, Inc</span>
      </div>
  
      {% comment %} <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><img class= "social-icon" src={% static "main_app/images/bootstrap-icons/facebook.svg" %} alt="FaceBook" width="32" height="32"></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img class= "social-icon" src={% static "main_app/images/bootstrap-icons/instagram.svg" %} alt="Instagram" width="32" height="32"></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img class= "social-icon" src={% static "main_app/images/bootstrap-icons/twitter.svg" %} alt="Twitter" width="32" height="32"></a></li>
      </ul> {% endcomment %}
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>