{% extends "base.html" %}
{% load static %}

{% block page-title %} 
    Coder Kai - Reset Complete
{% endblock %}

{% block css-stylesheet %}
    <link rel="stylesheet" href={% static "main_app/registration/signup.css" %}>
{% endblock %}

{% block mainbody %}
<div>
    <h2>Password Reset Complete</h2>
    <p style="text-align: center; color: goldenrod;">
    Your password has been successfully reset. Please <a href={% url "login" %}>Log In</a> to your Coder Kai account.
    </p>
</div>
{% endblock %}