{% extends "base.html" %}
{% load static %}

{% block page-title %} 
    Coder Kai - Reset Requested
{% endblock %}

{% block css-stylesheet %}
    <link rel="stylesheet" href={% static "main_app/registration/signup.css" %}>
{% endblock %}

{% block mainbody %}
    <div>
        <h2>Password Reset Requested</h2>
        <p style="text-align: center; color: goldenrod;">
        We've emailed you instructions to reset your password. If an account exists for the email you entered, you should receive them shortly.
        </p>
    </div>
{% endblock %}