{% extends "base.html" %}
{% load static %}

{% block page-title%}
    Coder Kai - All Groups
{% endblock %}

{% block css-stylesheet %}
    <link rel="stylesheet" href={% static "main_app/all_groups.css" %}>
    <link rel="stylesheet" href={% static "main_app/welcome_page.css" %}>
{% endblock %}

{% block mainbody %}
    <div class="new-group-button">
        <button style="border-radius: 7px;" type="button" class="btn btn-outline-secondary btn-md" onclick="location.href='{% url "create_kaigroup" %}'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            <span class="button-text">Create New Group</span>
        </button>
    </div>
    <div class="row group-list">
        {% for group in group_list %}
          <div class="col-md-4">
            <div class="card mb-4" style="padding-top: 1rem;background-color: #0D304A">
              <img class="card-img" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 150px; width: 50%; align-self: center;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_189f378fc6e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_189f378fc6e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
              <div class="card-body">
                <a class="group-name-link" href={% static "groups" group.name %}><p class="card-text group-name">{{ group.name }}</p></a>
                <div class="tag-list">
                    {% for motivation in group.motivations.all %}
                    <span class="tag">{{ motivation }}</span>
                    {% endfor %}
                    {% for interest in group.interests.all %}
                    <span class="tag">{{ interest }}</span>
                    {% endfor %}
                </div>
                <div class="leader-info">
                    <p>Leader: <a href={% url "profile" group.creator.username %}>{{ group.creator }}</a></p>
                </div>
                <p class="card-text text-white group-about">{{ group.about }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

{% endblock %}