{% extends "base.html" %}
{% load static %}

{% block page-title %} 
    Coder Kai - Edit Profile
{% endblock %}

{% block css-stylesheet %}
    <link rel="stylesheet" href={% static "main_app/registration/signup.css" %}>
{% endblock %}

{% block mainbody %}
    <div class="text-center login-form">
    <h2>Edit Your Profile</h2>
    <h3 id="coderkai-profile-instruction">Coder Kai will dynamically create recommended groups and community posts based on your profile.</h3>
        <form method="post" id="login-form">
            {% csrf_token %}
            {{ form }}
            <div id="form-buttons">
                <div class="row">
                    <div class="col">
                        <button type="submit" value="Update" class="btn btn-outline-secondary btn-lg px-4 login-button">Finish Editing</button>
                    </div>
                </row>
            </div>
        </form>
    </div>
{% endblock %}