{% extends "base.html" %}
{% load static %}

{% block page-title %} 
    Coder Kai - New Reply
{% endblock %}

{% block css-stylesheet %}
    <link rel="stylesheet" href={% static "main_app/post_content.css" %}>
    <link rel="stylesheet" href={% static "main_app/registration/signup.css" %}>
    <!-- syntax highlighting for code snippets, CDN for highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/monokai.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    
    
    <style>

        #login-form {
            width: 80%;
            margin-left: 10%;
        }

        #id_body {
            height: 5rem;
        }

        .response {
            width: 96%;
            margin: 0;
            margin-left: 2%;
            border-top: goldenrod solid 1px;
            padding-top: 1rem;
            padding-bottom: 0.25rem;
            margin-bottom: 1rem;
        }
    
        .post-body-response {
            width: 98%;
            margin-left: 0.5%;
            margin-bottom: 0;
            padding-top: 0.5rem;
            padding: 1rem;
        }
    
        .response-text {
            align-self: flex-start;
            margin-bottom: 0rem;
        }

        @media (max-width: 575px) {
            #login-form {
                width: 95%;
                margin-left: 2.5%;
            }
        }


    </style>
{% endblock %}

{% block mainbody %}
<h2>Replying to:</h2>
<div class="row">
    <div class="col-2 op-info-response">
            <div class="col profile-pic-response">
                <img class="profile-picture rounded-circle" width="120" height="120" src={{ response.author.profileinfo.avatar.url }}>
                <div class="row">
                    <div class="col profile-info-response">
                        <a class="username-link" href={% url "profile" response.author %}>{{ response.author }}</a>
                        <p><span id="rank" class="{{ response.author.profileinfo.rank }}">{{ response.author.profileinfo.rank }}</span></p>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-10 post-body-response">
        <p style="white-space: pre-line" class="post-text">
        {{ response.body|safe }}
        </p>
    <div class="response-author">Answered by&nbsp<span><a class="username" href="#">{{ response.author }}</a></span>&nbspon {{ response.timestamp }}</span></div>
    </div>

    <div class="col-2">
    </div>
</div>

<div>
    <br>
        <form method="post" id="login-form">
            {% csrf_token %}
            {{ form }}
            <div>
                <div class="row">
                    <div class="col" id="form-buttons">
                        <button type="submit" class="btn btn-outline-secondary btn-lg px-4 submit-button">Submit</button>
                    </div>
                </row>
            </div>
        </form>
    </div>

    <script>hljs.highlightAll();</script>
{% endblock %}