{% extends "base.html" %}
{% load static %}

{% block page-title %} 
    Profile Page
{% endblock%}

{% block css-stylesheet %}
    <link rel="stylesheet" href={% static "main_app/profile.css" %}>
{% endblock %}

{% block mainbody %}
  <div class="container text-center text-white">
    <div class="row">
      <div class="col-lg-5">
        <div class="col-lg-12">
            <img class="profile-picture rounded-circle" width="220" height="200" src={% static "main_app/images/cat.jpg" %}>
        </div>
        <div class="col-lg-12">
          <h1 id="username">CatCoder5000</h1>
          <h4 id="rank">Rank: Code Master</h4>
          <h4 id="coder-kai-points">Coder Kai Points: 7723</h4>
        </div>
      </div>
      <div class="col-lg-6 profile-info-box">
        <div class="row profile-row">
            <div class="col-3 profile-item bg">
                <span class="profile-info-label">Location:</span>
            </div>
            <div class="col-9 profile-info-answer">
                <span>United Kingdom</span>
            </div>
        </div>
        <div class="row profile-row">
            <div class="col-3 profile-item">
                <span class="profile-info-label">Motivations:</span>
            </div>
            <div class="col-9 profile-info-answer">
                <span>Entrepreneurship, Personal Projects</span>
            </div>
        </div>
        <div class="row profile-row">
            <div class="col-3 profile-item">
                <span class="profile-info-label">Interests:</span>
            </div>
            <div class="col-9 profile-info-answer">
                <span>Python, SQL, Django, Web Apps</span>
            </div>
        </div>
        <div class="row profile-row">
            <div class="col-3 profile-item">
                <span class="profile-info-label">Affiliations:</span>
            </div>
            <div class="col-9 profile-info-answer">
                <span>None</span>
            </div>
        </div>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
  </div>
{% endblock %}