{% extends "base.html" %}

{% block mainbody %}
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-white">Welcome to Coder Kai!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">A place for coders to gather, practice, and learn.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log In</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign Up</button>
      </div>
    </div>
  </div>
{% endblock %}